<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="img/fav-icon.png" type="image/x-icon" />

<!--Load the AJAX API-->
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">

     // Load the Visualization API and the corechart package.
     google.charts.load('current', {'packages':['corechart']});

     // Set a callback to run when the Google Visualization API is loaded.
     google.charts.setOnLoadCallback(drawChart);

     // Callback that creates and populates a data table,
     // instantiates the pie chart, passes in the data and
     // draws it.
     function drawChart() {
       // Create the data table.
       var data = new google.visualization.DataTable();
       data.addColumn('string', 'Topping');
       data.addColumn('number', 'Progress');
       data.addRows([
         ["month1",<%= patient1%>],
         ["month2",<%= patient2%>],
         ["month3",<%= patient3%>],
         ["month4",<%= patient4%>],
         ["month5",<%= patient5%>]
       ]);

       // Set chart options
       var options = {'title':'',
                      'width':1000,
                      'height':600,
                      colors:['red', 'orange', 'yellow', 'brown', 'blue']
                    };


       // Instantiate and draw our chart, passing in some options.
       var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
       chart.draw(data, options);
     }
   </script>






<title>profile</title>

<link href="vendors/material-icon/css/materialdesignicons.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="vendors/linears-icon/style.css" rel="stylesheet">

<link href="css/bootstrap.min.css" rel="stylesheet">

<link href="vendors/owl-carousel/assets/owl.carousel.css" rel="stylesheet">
<link href="vendors/animate-css/animate.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link rel="stylesheet" href="css/colors/default.css" title="default">
<link rel="alternate stylesheet" href="css/colors/orange.css" title="orange">
<link rel="alternate stylesheet" href="css/colors/pink.css" title="pink">
<link rel="alternate stylesheet" href="css/colors/violet.css" title="violet">
<link rel="alternate stylesheet" href="css/colors/blue.css" title="blue">
<link rel="alternate stylesheet" href="css/colors/past.css" title="past">
<link rel="stylesheet" href="vendors/profile.css">

<!-- info for modal page -->
<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="css/animate.css">

<link rel="stylesheet" href="css/owl.carousel.min.css">
<link rel="stylesheet" href="css/owl.theme.default.min.css">
<link rel="stylesheet" href="css/magnific-popup.css">

<link rel="stylesheet" href="css/aos.css">

<link rel="stylesheet" href="css/ionicons.min.css">

<link rel="stylesheet" href="css/bootstrap-datepicker.css">
<link rel="stylesheet" href="css/jquery.timepicker.css">


<link rel="stylesheet" href="css/flaticon.css">
<link rel="stylesheet" href="css/icomoon.css">
<!-- <link rel="stylesheet" href="css/styleModal.css"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- links for the graph -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>
<body class="light_bg" data-spy="scroll" data-target="#bs-example-navbar-collapse-1" data-offset="80" data-scroll-animation="true">
<div id="preloader">
<div id="preloader_spinner">
<div class="spinner"></div>
</div>
</div>

<header class="header_area">
<div class="container">
<nav class="navbar navbar-default">

<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="index.html"><img src="img/logo.png" alt=""></a>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">
<!-- <li><a href="/patientSearch">Back to Search</a></li> -->
<li><a href="/login">Logout</a></li>
<!--
<li><a href="#education">Education</a></li>
<li><a href="#service">SERVICES</a></li>
<li><a href="#portfolio">PORTFOLIO</a></li> -->
<!-- <li><a href="#news">Progress</a></li>
<li><a href="#contact">Message</a></li> -->
</ul>
</div>
</nav>
 </div>
</header>


<div class="container main_container">
<div class="content_inner_bg row m0">
<section class="about_person_area pad" id="about">
<div class="row">
<div class="col-md-5">


<div class="person_img">
<img src='<%= patient.image %>'>

<% if(!patient.image){%>

<form action="/uploadImage" enctype="multipart/form-data" method="post">
   <input type="file" name="patientPhotos">
   <input type="hidden" name="name" value="<%=patient.name%>">
   <input type="submit" value="Upload">
 </form>

<a class="download_btn" href="#"><span>Upload Image</span></a>
<% } %>
</div>
</div>
<div class="col-md-7">
<div class="row person_details">


<h3><%= patient.name %></h3>

<h4>Diagnosis: <%= patient.diagnosis %></h4>

<div class="person_information">
<ul>
<li><a href="#">DOB</li>
<li><a href="#">Primary Doctor</a></li>
<li><a href="#">Mother's name</a></li>
<li><a href="#">Father's name</a></li>
<li><a href="#">Phone Number</a></li>
<li><a href="#">Email</a></li>
<li><a href="#">Address</a></li>
</ul>
<ul>
<li><a href="#"><%= patient.DOB %></a></a></li>
<li><a href="#"><%= patient.maindoctor %></a></a></li>
<li><a href="#"><%= patient.mothername %></a></a></li>
<li><a href="#"><%= patient.fathername %></a></a></li>
<li><a href="#"><%= patient.number %></a></li>
<li><a href="#"></a><%= patient.email %></li>
<li><a href="#"></a><%= patient.address %></li>
</ul>
</div>

</div>
</div>
</div>
</section>
<section class="myskill_area pad" id="skill">
<div class="main_title">
<h2>Make an Appointment</h2>
</div>
<div class="row">


<!-- button for private notes below -->

<div  class="col-md-6 wow fadeInUp animated">
<div class="skill_text">

<h4 id="notesStyling"><a href="" class="nav-link" data-toggle="modal" data-target="#modalRequest"> <span id="addNotesButton"> <i class="far fa-calendar-check"></i></span> </a> Upcoming Appointments:</h4>
</div>


</div>

<div  class="col-md-6 wow fadeInUp animated">
<div class="skill_text">

<h4 id="notesStyling"><i class="fas fa-calendar-check"></i>Past Appointments:</h4>
</div>





</div>
</div>
</section>




<!-- where I want the chart to be -->
<section>
<div  class="main_title">
<h2>PROGRESS</h2>
</div>

  <div class="about_person_area pad" id="about" class="service_inner row" class="container">
    <div id="chart_div"></div>
  </div>














</section>

<!-- modal info -->
<!-- Modal -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRequestLabel">Schedule Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/updateNotes" autocomplete="off" method="post">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <!-- <label for="appointment_date" class="text-black">Date</label> -->
                <input name="date" type="text" class="form-control appointment_date" placeholder="Date">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <!-- <label for="appointment_time" class="text-black">Time</label> -->
                <input name="time" type="text" class="form-control appointment_time" placeholder="Time">
              </div>
            </div>
          </div>
          <div class="form-group">
            <!-- <label for="appointment_message" class="text-black">Message</label> -->
            <textarea name="notes" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Notes for the doctor?"></textarea>
          </div>
          <div class="form-group">
            <input class="sendNote" type="submit" value="" class="btn btn-primary">
            <input type="hidden" name="name" value="<%=patient.name%>">
            <input type="hidden" name="patientId" value="<%=patient._id%>">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- public notes modal --->



<script src="js/progress.js">

</script>

<script src="js2/jquery.min.js"></script>
<script src="js2/jquery-migrate-3.0.1.min.js"></script>
<script src="js2/popper.min.js"></script>
<script src="js2/bootstrap.min.js"></script>
<script src="js2/jquery.easing.1.3.js"></script>
<script src="js2/jquery.waypoints.min.js"></script>
<script src="js2/jquery.stellar.min.js"></script>
<script src="js2/owl.carousel.min.js"></script>
<script src="js2/jquery.magnific-popup.min.js"></script>
<script src="js2/aos.js"></script>
<script src="js2/jquery.animateNumber.min.js"></script>
<script src="js2/bootstrap-datepicker.js"></script>
<script src="js2/jquery.timepicker.min.js"></script>
<script src="js2/scrollax.min.js"></script>
<script src="js2/main.js"></script>




<script src="js/jquery-2.1.4.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>

<script src="js/bootstrap.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>

<script src="vendors/counter-up/waypoints.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="vendors/counter-up/jquery.counterup.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="vendors/isotope/imagesloaded.pkgd.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="vendors/isotope/isotope.pkgd.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="vendors/style-switcher/styleswitcher.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="vendors/style-switcher/switcher-active.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="vendors/animate-css/wow.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="js/gmaps.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>



<script src="js/jquery.form.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="js/jquery.validate.min.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="js/contact.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script src="js/theme.js" type="9768ceebd7d6b20e11466233-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="9768ceebd7d6b20e11466233-text/javascript"></script>
<script type="9768ceebd7d6b20e11466233-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/95c75768/cloudflare-static/rocket-loader.min.js" data-cf-settings="9768ceebd7d6b20e11466233-|49" defer=""></script></body>
</html>
